@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.btn {
  cursor: pointer;
}

.top,
.mid,
.bot {
  display: inline-block;
  width: 24px;
  height: 2px;
  background: #000;
  border-radius: 2rem;
  transition: all 0.5s;
}

.open .top {
  transform: rotate(45deg) translate(6px, 6px);
}
.open .mid {
  opacity: 0;
}
.open .bot {
  transform: rotate(-45deg) translate(5px, -6px);
}
